<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Loan Calculator</title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>
<body ng-app="loanCalculator" ng-controller="parentController">
	<div class="col-xs-6">
		<h1>Loan Calculator</h1>
		<h1>Change Confirmeds</h1>
		<h4>Enter the Principal Amount here</h4>
		<input class="input-md" ng-model="principle">
		<h4>Enter the APR</h4>
		<input class="input-md" ng-model="interest">
		<h4>Enter the Duration in Months</h4>
		<input class="input-md" ng-model="length">
		<button class="btn btn-default" ng-click="calculateInterest()">Calculate EMI</button>
	</div>
	<div class="col-xs-6">
		<h1 style="font-size:35px; margin-top:200px">{{mothlyPayment}}</h1>
	</div>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
  	
  	<script src="app.js"></script>
</body>
</html>